body {
  background: #f7d3c6;
  color: #ff7f8c;
  height: 100vh;
  width: 100vh;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Bebas Neue", cursive;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.image-container {
  background: #fff;
  margin: 0;
  position: relative;
  width: 50vh;
}

h1 {
  font-size: 10vw;
  margin: 0 20px;
  line-height: 1.4;
}

h2 {
  bottom: 0;
  position: fixed;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 20px 20px;
  font-weight: normal;
}

h3 {
  font-size: 36 px;
  font-weight: normal;
  position: fixed;
  text-align: center;
  z-index: 1;
  bottom: 0;
  color: #ff7f8c;
  margin: 0 auto;
  width: 50%;
}

img {
  height: 100vh;
  object-fit: cover;
  object-position: 0% 100%;
  position: fixed;
  width: 50%;
}

.morning {
  object-position: 0% 100%;
}

.pair {
  object-position: 30% 70%;
}

.hair {
  object-position: 30% 70%;
}

.teeth {
  object-position: 25% 75%;
}

.gang {
  object-position: 70% 30%;
}

.king {
  object-position: 35% 65%;
}
